# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build output
dist/
build/

# Environment
.env
.env.local
.env.production
.env.staging

# Uploads (file sensitif - JANGAN commit ke git)
uploads/ktp/*
uploads/products/*
!uploads/ktp/.keep
!uploads/products/.keep

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Prisma
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/
.idea/
